<div class="chat" #chat>

  <ng-container *ngFor="let msg of conversationLog; let idx">
    <div class="chat__bubble" [class.me]="msg.author === authService.user?.username">
      <ng-container [ngSwitch]="msg.command?.type">
        <div class="command command--map" *ngSwitchCase="'map'">
          <app-map-command [data]="msg.command?.data"></app-map-command>
        </div>
        <div class="command command--date" *ngSwitchCase="'date'">
          <app-date-command [data]="msg.command?.data"></app-date-command>
        </div>
        <div class="command rate" *ngSwitchCase="'rate'">
          <app-rate-command [data]="msg.command?.data"></app-rate-command>
        </div>
        <div class="command complete" *ngSwitchCase="'complete'">
          <app-complete-command [data]="msg.command?.data"></app-complete-command>
        </div>
        <div class="message" *ngSwitchDefault>
          <pre>{{msg | json}}</pre>
        </div>
      </ng-container>
    </div>
  </ng-container>


</div>
