<div class="login" *ngIf="loginForm">
  <div class="header">
    <h3>Login</h3>
    <h4>Please verify your access to our chatbot</h4>
  </div>
  <div class="content">
    <form [formGroup]="loginForm">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-hint>At least 8 characters</mat-hint>
      </mat-form-field>
    </form>
  </div>
  <div>
    <button mat-button mat-raised-button (click)="login()" color="primary" [disabled]="loginForm.invalid">Login</button>
  </div>
  <span>* any combination of username an password will work</span>
</div>
